<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info for one person</title>
</head>
<body>

    <h2>Show this person for update:</h2>

    <!-- Виведення даних про одну людину -->
    <div>
        <p><strong>Id:</strong> <span th:text="${person.getId()}"></span></p>
        <p><strong>First Name:</strong> <span th:text="${person.getFirstName()}"></span></p>
        <p><strong>Last Name:</strong> <span th:text="${person.getLastName()}"></span></p>
        <p><strong>Patronymic:</strong> <span th:text="${person.getPatronymic()}"></span></p>
        <p><strong>Age:</strong> <span th:text="${person.getAge()}"></span></p>
        <p><strong>Email:</strong> <span th:text="${person.getEmail()}"></span></p>
        <p><strong>Address:</strong> <span th:text="${person.getAddress()}"></span></p>
        <hr/>
        <a href="/people/" >Show all people</a>
        <br>
        <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edite this person</a>
        <p> <form th:action="@{/people/{id}(id=${person.getId()})}" th:method="delete"
                  onsubmit="return confirm('Are you sure you want to delete the user?')">
        <button type="submit">delete</button>
            </form>
    </div>

    <br>
    <a href="/">Main page</a>

<!--<p th:text="${person.getName()}">VALUE</p>-->
<!--<p th:text="${person.getId()}">VALUE</p>-->

</body>
</html>