<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info for one person</title>
    <style>
        .h1 {
            text-align: center;
            font-size: 30px;
        }

        .h2 {
            text-align: left;
            font-size: 20px;
        }
    </style>
</head>
<body>

<h1 class="h1">Страница человека</h1>
<h1 class="h1">/people/{id}</h1>
<hr/>

<div class="h2">
    <div th:text="${person.getFirstName()} + ', ' +  ${person.getLastName()} + ', ' +  ${person.getPatronymic()}
 + ', ' +  ${person.getAge()}"></div>
    <br/>

    <div th:if="${condition == null}">
        <h3>Человек пока не взял ни одной книги</h3>
    </div>

    <div th:if="${condition != null}">
        <hr/>
        <b>Книги:</b>
        <ul>
            <li th:each="book : ${bookList}">
                <!--                    <span th:text="${book.getNameBook()}"></span></li>-->
                <span th:text="${book.getNameBook()} + ', ' + ${book.getAuthor()} + ', '+ ${book.getYear()}"></span>
            </li>
        </ul>
    </div>

    <hr/>

    <br/>
<!--    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать этого человека</a>-->
    <form th:action="@{/people/{id}/edit(id=${person.getId()})}" >
        <button type="submit">Редактировать</button>
    </form>
    <p>
    <form th:action="@{/people/{id}(id=${person.getId()})}" th:method="delete"
          onsubmit="return confirm('Are you sure you want to delete the user?')">
        <button type="submit">Удалить</button>
    </form>
</div>

<br/>
<hr/>
<h2 class="h2"><a href="/people/">Страница со списком всех людей</a></h2>
<h2 class="h2"><a href="/">На главную страницу</a></h2>

</body>
</html>