<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<form th:method="patch" th:action="@{/book/{id}(id=${book.getBookId()})}" th:object="${book}">
    <!--            <input type="hidden" name="_method" value="patch">-->
    <label for="nameBook">Name</label>
    <input type="text" th:field="*{nameBook}" id="nameBook"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameBook')}" th:errors="*{nameBook}">Name Book error</div>
    <br>
    <label for="Author">Author</label>
    <input type="text" th:field="*{author}" id="Author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br>
    <label for="Year">Year</label>
    <input type="text" th:field="*{year}" id="Year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br>
    <input type="submit" value="Update Book"/>
</form>

<br>
<a href="/">Main page</a>

</body>
</html>