<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All people</title>
</head>
<body>

    <h1 class="h1">Страница по добавлению 100 людей в БД</h1>

    <h2><a href="/test-batch-update/without" >Добавить 100 человек без пакетной вставки</a></h2>
    <h2><a href="/test-batch-update/with" >Добавить 100 человек с пакетной вставкой(Batch update)</a></h2>

</body>
</html>